<% include ../partials/header %>
<div class='main-container' ng-controller='indexController'>
	<img src="/ui/images/icon.png" /> 
	<br/><br/>Welcome to <%=websiteName%>!
</div>
<% include ../partials/footer %>
