<% include ../partials/header %>
<div class='main-container' ng-controller='indexController'>
	<img src="images/icon.png" /> 
	<br/><br/>Welcome to My NodeJS Website!
</div>
<% include ../partials/footer %>
